{
    log {
        output stderr
        format console
    }
}

auto.colagemtravel.com {
    encode gzip

    # Log specific to this domain
    log {
        output stderr
        format console
    }

    handle /webhook* {
        reverse_proxy ct-webhook:3000
    }

    handle /reminders* {
        uri strip_prefix /reminders
        reverse_proxy ct-reminders:3000
    }
}

