{
    log {
        output stderr
        format console
    }
}

:80, :443 {
    log {
        output stderr
        format console
    }
    respond "Global catch-all for host {host} on path {path}" 404
}

auto.colagemtravel.com {
    encode gzip

    log {
        output stderr
        format console
    }

    # Move this to the top to ensure it matches
    reverse_proxy /webhook* localhost:3000

    handle_path /reminders* {
        reverse_proxy ct-reminders:3000
    }

    # Catch-all for everything else to see if it matches the site block
    handle {
        respond "Site block matched but no path matched: {path}" 404
    }
}
